:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.textTitle {
  color: var(--mainWhite);
  font-weight: 700;
}
.textSubTitle {
  color: rgb(240, 248, 255);
}
.text-title {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
  font-family: "Poppins", sans-serif;
}
.text-bright {
  color: var(--lightBlue);
}
button.btn.btn-outline-info.my-2.my-sm-0 {
  transition: all 0.5s ease-in-out;
  margin: 0.2rem 0.5rem 0.2rem 0;
}
button.btn.btn-outline-warning.my-2.my-sm-0 {
  transition: all 0.5s ease-in-out;
  margin: 0.2rem 0.5rem 0.2rem 0;
}
div.card {
  border-color: transparent;
  transition: all 1s linear;
}
div.card-footer {
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}
div.card:hover {
  border: 0.04rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
div.card-footer:hover {
  background: rgb(247, 247, 247);
}
.img-container {
  position: relative;
  overflow: hidden;
}
.card-img-top {
  transition: all 1s linear;
}
.img-container:hover .card-img-top {
  transform: scale(1.2);
}

.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  border: none;
  margin-right: 0.5rem;
  transform: translate(100%, 100%);
  transition: all 1s linear;
}
.img-container:hover .cart-btn {
  transform: translate(0, 0);
}
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal {
  background: var(--mainWhite);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.jumbotron {
  background: url("/img/holdPhone.jpg") no-repeat center;
  background-size: cover;
}
.cartItems {
  border-bottom: 0.1rem solid rgb(192, 188, 188);
  border-right: 0.1rem solid rgb(192, 188, 188);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.3rem;
}
